/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height: 100%;
    display: flex;
    overscroll-behavior: none;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;
    background-color: white;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;

    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);

    width:100%;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
    height: 100vh;

    /* This is needed to keep android PWA to hide the address bar when scrolling */
    position: fixed;

    /* overflow should always be on the body otherwise fixed position elements
       like floating buttons or menu will start overlapping scrollbars */
    overflow: auto;

}

/* Portrait layout (default) */
.app {
    padding: 0px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        padding:0px 0px 0px 0px;  /* padding-top + padding-bottom + text area = image height */
        margin:0px 0px 0px 0px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
        border: 1px solid blue;
    }
}

table.main {
    width: 100%;
    border-collapse: collapse;
}

tr.content_height {
    height: 1px;
    background-color: #eaeaea;
}

tr.main {
    background-color: #fafafa;
    border-bottom: 2px solid #f2f2f2;
}

tr.main:hover {
    background-color: #f6f6f6;
}

td.main {
    height: 36px;
    padding: 6px 8px 6px 8px;
}

td.main_label {
    padding: 4px 8px 4px 8px;
}

td.main_sort {
    height: 42px;
    padding: 6px 8px 0px 8px;
    vertical-align: bottom;
}

td.contextMenu {
    width: 32px;  /* Left & right paddings are 16px making total 48px */
    text-align: right;
}

div.report_frame {
    flex-grow: 1;
}

td.head {
    background-color: #eaeaea;
    border-right: 2px solid #f2f2f2;
}

td.squeeze {
    width: 1px;
}

td.label {
    padding: 0px 8px 0px 8px;
    width: 7em;
}

td.middle {
    vertical-align: middle;
}

tr.section {
    font-weight: bold;
}

td.amount_head {
    text-align: right;
    border-right: 0px;
}

td.amount {
    text-align: right;
}

td.date_head {
    width: 6em;
}

table.bottomBar {
    background-color: white;
    border-collapse: collapse;
    position: sticky;
    bottom: 0px;
}

button.floatingBottomBtn {
    position: fixed;
    bottom: 60px;
    right: 8px;
    border-radius: 14px;
    background-color: gold;
    padding: 0px 16px 0px 16px;
    height: 48px;
}

button.fontSymbol {
    font-size: 24px;
    height: 100%;
}

div.inactive {
    display: none !important;
}

div.hidden {
    visibility: hidden;
}

td.bottomBarItem {
    vertical-align: middle;
    text-align: center;
    width: 100px;
    border-top: 2px solid #f2f2f2;
    height: 46px;
}

td.active {
    border-top: 2px solid gold;
}

button.hidden {
    display: none;
}

button {
    padding: 8px 18px 8px 18px;
    border: none;
    margin: 0px;
    border-radius: 4px;
    display: block;
    min-height: 48px;
    font-size: 14px;
}

button.topBarItem {
    background-color: white;
}

button.headItem {
    background-color: #eaeaea;
    vertical-align: middle;
}

button.icon {
    width: 48px;
    height: 48px;
    padding: 14px;
}

button.back_svg {
    padding: 14px 18px 14px 10px;
}

button.icon:hover {
    background-color: #f6f6f6;
}

svg {
    stroke-linecap: round;
    stroke-width: 1.0583;
    stroke: black;
}

svg.disabled {
    stroke: lightgray;
}

input[type="text"], input[type="date"] {
    padding: 8px;
    width: 100%;
    max-width: 48em;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    min-height: 48px;
    font-size: 14px;
}

input[type="checkbox"] {
    height: 24px;
    width: 24px;
    margin: 12px;
}

input.amount {
    max-width: 16em;
    font-family: monospace;
    font-size: 20px;
}

input.date {
    max-width: 16em;
    height: 48px;
    min-height: 48px;
}

select {
    padding: 8px;
    width: 100%;
    height: 48px;
    min-height: 48px;
    max-width: 16em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 14px;
}

table.topBar {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    height: 4em;
    position: sticky;
    top: 0px;
}

td.topBarItem {
    font-size: 16px;
    padding: 4px 0px 4px 8px;
    vertical-align: middle;
}

td.topBarLarge {
    font-size: 18px;
}

td.small {
    font-size: 12px;
}

td.breadCrumb {
    font-size: 12px;
    vertical-align: middle;
}

td.back {
    width: 1px;
    padding-left: 0px;
}

td.right_text {
    text-align: right;
    padding: 0px 8px 0px 0px;
    vertical-align: middle;
    width: 1px;
}

td.right {
    padding: 0px 8px 0px 0px;
    width: 1px;
}

td.right_most {
    padding: 0px;
    width: 1px;
}

td.right_pad {
    padding-right: 8px;
}

div.status {
    padding-left: 8px;
}

div.contextMenu {
    background-color: white;
    position: fixed;
    left: 8px;
    padding: 4px;
    border-radius: 4px;
}

div.contextMenuItem {
    height: 36px;
    padding: 6px 16px 6px 16px;
    display: flex;
    align-items: center;
}

div.contextMenuItem:hover {
    background-color: #f6f6f6;
}

div.disabled {
    color: gray;
    pointer-events: none;
}

iframe.main {
    width: 100%;
    border: 0;
    height: 100%;
}

span.sort {
    display: inline-block;
    height: 12px;
    width: 12px;
}

svg {
    height: 100%;
    width: auto;
}

div.main {
    margin-top: 4.5em;
}

div.multi_select {
    width: 100%;
    height: 12em;
    overflow-y: scroll;
    overflow-x: auto;
    border: 1px solid;
}

div.multi_select_item {
    display: inline-flex;
    min-height: 48px;
    align-items: center;
}

span.tag {
    border: 1px solid;
    padding: 6px;
    border-radius: 8px;
}

div.page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #f2f2f2;
}

div.tabs_panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

div.tabs_subpanel {
    height: 100%;
    flex-direction: column;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: black; 
        color: #e4e4e4;
    }

    div.page {
        background-color: #101012;
    }

    table.topBar {
        background-color: black;
    }

    div.contextMenu {
        background-color: black;
    }

    td.head {
        background-color: #2c2c2c;
        border-right-color: #101012;
    }

    button {
        font-size: 14px;
    }

    button.topBarItem {
        background-color: black;
    }

    button.headItem {
        background-color: #2c2c2c;
    }

    svg {
        stroke: #e4e4e4;
    }

    table.bottomBar {
        background-color: black;
    }

    td.bottomBarItem {
        border-top-color: black;
    }

    td.active {
        border-top-color: darkslategrey;
    }

    button.icon:hover {
        background-color: #222222;
    }

    button.floatingBottomBtn {
        background-color: darkslategray;
    }

    tr.main {
        background-color: #1d1d1f;
        border-bottom-color: #101012;
    }

    tr.main:hover {
        background-color: #222222;
    }

    tr.content_height {
        background-color: #2c2c2c;
    }

    div.contextMenuItem:hover {
        background-color: #222222;
    }

    svg.disabled {
        stroke: #555555;
    }
}

@media only screen and (min-resolution: 3dppx) {
    body {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }

    input[type="text"], input[type="date"] {
        font-size: 16px;
    }

    select {
        font-size: 16px;
    }

    input.amount {
        font-size: 22px;
    }

    button.fontSymbol {
        font-size: 28px;
    }

    td.topBarItem {
        font-size: 18px;
    }

    td.topBarLarge {
        font-size: 20px;
    }

    td.small {
        font-size: 12px;
    }

    td.breadCrumb {
        font-size: 14px;
    }
}